<footer>
    <a class="copyright">&copy;Master in TechKnowledgy</a>
    <a class="style9" href='/about'> About us </a> &nbsp;
   | &nbsp; <a class="style9" href='contact'> Contact us </a>
</footer>
<!-- </div> -->
</body>
</html>