<%- include('./partials/header.ejs')%>

<div class="content">
<h4> About us </h4>

<h5>Our Mission </h5>
<p> We aim to provide a platform for individuals to improve their technical knowledge.
    Learn about various technologies from professionals belonging to different organizations by working
    on real time projects.   
    Attend weekly seminars and discussions to know more about different companies, to work with peers
    having similar interests and ofcourse, to improve your skills. This is an excellent opportunity to connect
    with industry experts and learn about latest technnologies. 
    Register for seminars and courses, as a starting step in building a great career.</p>
</div>

<%- include('./partials/footer.ejs')%>