<%- include('./partials/header.ejs')%>

<div class="content">
<h4> Contect us! </h4>
<p> Email id: masterintech@abc.com </p> <br>
<p> Contact num : 12345678910 </p> <br>
<p> Address: Charlotte, North Carolina </p>
</div>

<%- include('./partials/footer.ejs')%>