<%- include('./partials/header.ejs')%>

<div class="content">
    <h2> Welcome! </h2>
    <p class="p"> 
        Master in TechKnowledgy provides a platform for individuals to improve their technical knowledge.
        Learn about various technologies from professionals belonging to different organizations by working
        on real time projects.   
        Attend weekly seminars and discussions to know more about different companies, to work with peers
        having similar interests and ofcourse, to improve your skills. This is an excellent opportunity to connect
        with industry experts and learn about latest technnologies. 
        Register for seminars and courses, as a starting step in building a great career. 
    </p>
    <br>
    <img src="/images/projectimage.jpg" class="img" alt="Seminar Picture">
    <h3> Ready to Skill up? Register Right Away!</h3>
</div>

<%- include('./partials/footer.ejs')%>